@font-face {
  font-family: "Rubik";
  font-style: normal;
  src: local("Rubik"),
    url("fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  inline-size: 100%;
  display: block;
}

:root {
  --orange-300: hsl(15, 100%, 70%);
  --blue-300: hsl(195, 74%, 62%);
  --pink-400: hsl(348, 100%, 68%);
  --green-400: hsl(145, 58%, 55%);
  --purple-700: hsl(264, 64%, 52%);
  --purple-600: hsl(246, 80%, 60%);
  --purple-500: hsl(235, 45%, 61%);
  --yellow-300: hsl(43, 84%, 65%);
  --navy-950: hsl(226, 43%, 10%);
  --navy-900: hsl(235, 46%, 20%);
  --navy-800: hsl(235, 41%, 34%);
  --navy-200: hsl(236, 100%, 87%);
  --grey: hsl(0, 0%, 85%);
  --font-step-1: 0.9375rem; /*15px*/
  --font-step-2: 1.125rem; /*18px*/
  --font-step-3: 1.5rem; /*24px*/
  --font-step-4: 2rem; /*32px*/
  --font-step-5: 2.5rem; /*40px*/
  --font-step-6: 3.5rem; /*56px*/
  --font-base: "Rubik", "sans-serif";
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --space-8: 0.5rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-64: 4rem;
  --space-54: 3.375rem;
  --corner-radius: 0.5rem;
  --work-img: url("images/icon-work.svg");
  --play-img: url("images/icon-play.svg");
  --study-img: url("images/icon-study.svg");
  --exercise-img: url("images/icon-exercise.svg");
  --social-img: url("images/icon-social.svg");
  --self-care-img: url("images/icon-self-care.svg");
}

body {
  background-color: var(--navy-950);
  font-size: var(--font-step-2);
  font-family: var(--font-base);
  font-weight: var(--font-regular);
  color: white;
  line-height: 1.3;
}

h1 {
  font-size: var(--font-step-3);
  font-weight: var(--font-light);
}

h2 {
  font-weight: var(--font-medium);
  font-size: var(--font-step-2);
}

.user-card {
  background-color: var(--navy-900);
  border-radius: var(--corner-radius);
  overflow: hidden;
}

.user-card header {
  display: flex;
  gap: var(--space-24);
  align-items: center;
  border-radius: inherit;
  background-color: var(--purple-600);
  padding: var(--space-32);
  img {
    max-inline-size: var(--space-64);
    border-radius: 50%;
    outline: white solid 3px;
  }
}
.user-info {
  p {
    color: var(--navy-200);
    font-size: var(--font-step-1);
    font-weight: var(--font-regular);
  }

  h1 {
    margin-block-start: var(--space-8);
  }
}

.toggle-btn-group {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  text-align: center;
  padding: var(--space-24);
}

.toggle-btn {
  & label {
    font-size: inherit;
    font-weight: inherit;
    color: var(--purple-500);
  }
  input {
    &[type="radio"] {
      display: none;
    }
    &[type="radio"]:checked + label {
      color: white;
    }
  }
}

.time-card-main {
  border-radius: inherit;
  background-color: var(--navy-900);
  width: 100%;
  padding: var(--space-24);
  inset: auto 0px 0 0; /* Modern way to position */
}

.time-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
  overflow: hidden;
  position: relative;
  background-image: var(--time-card-image),
    linear-gradient(var(--time-card-color) 40%, var(--navy-900) 40%);
  background-repeat: no-repeat;
  background-position: 92% -13%;
  min-block-size: 10rem;
  border-radius: 15px;
}

.time-card[data-type="work"] {
  --time-card-image: var(--work-img);
  --time-card-color: var(--orange-300);
}
.time-card[data-type="play"] {
  --time-card-image: var(--play-img);
  --time-card-color: var(--blue-300);
}
.time-card[data-type="study"] {
  --time-card-image: var(--study-img);
  --time-card-color: var(--pink-400);
}
.time-card[data-type="exercise"] {
  --time-card-image: var(--exercise-img);
  --time-card-color: var(--green-400);
}
.time-card[data-type="social"] {
  --time-card-image: var(--social-img);
  --time-card-color: var(--purple-700);
}
.time-card[data-type="self-care"] {
  --time-card-image: var(--self-care-img);
  --time-card-color: var(--yellow-300);
}

.time-card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-medium);
  img {
    max-inline-size: 21px;
    height: 100%;
  }
}

.time-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 8px;
  p:first-child {
    font-size: var(--font-step-4);
    font-weight: var(--font-light);
  }
  p:last-child {
    font-size: var(--font-step-1);
    color: var(--navy-200);
  }
}
